html,body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  color: steelblue;
  background-color: rgb(3, 29, 71);
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
  font-size: 1.5rem;
}

.page-content {
  height: -webkit-fill-available;
  display: flex;
  justify-content:center;
  align-items:center;
}

h1 {
  color: rgb(75, 143, 48);
  font-weight: 600;
  margin-top: 0;
}

.profits-amount {
  color: rgb(75, 143, 48);
  font-size: 5rem;
}

.instructions {
  font-size: 1rem;
}

div#stock-profit-container {
  text-align: center;
  width: 100%;
  max-width: 750px;
}

div#stock-profit-container select#buy-stock-price,
div#stock-profit-container select#stock-year-select {
  width: 15%;
  min-width: 100px;
  font-size: .75em;
  margin: 0px 5px;
  border-radius: 0px;
  padding: 15px 15px;
  background-color: white;
}

#stock-profit-desc {
  margin-bottom: 5px;
}

.footer {
  font-size: 1rem;
  display: flex
}